<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="wrapper">
      <%- include("./partials/nav.ejs") %>
      <div class="detail">
        <h1><%= breeder.name %></h1>
        <!-- <img src="<%= breeder.photoURL %>" alt="Breeder Avatar"> -->
        <img class="avatar" src="https://imgur.com/GEfMuTp.jpg" alt="Breeder Avatar">
        <div class="words">
          <div class="content">
            <p><strong>Established</strong>: <%= breeder.established %></p>
            <p><strong>Specialty</strong>: <%= breeder.specialty%></p>
            <p><strong>Location</strong>: <a href="<%= breeder.location.url %>"><%= breeder.location.name%></a></p>
            <p><strong>Description</strong>: <%= breeder.description%></p>
          </div>
          <hr>
          <div class="available">
            <h4>Dogs available from this breeder:</h4>
            <ul>
              <% if (breeder_dogs.length > 0) { %>
              <% breeder_dogs.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return(textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %>
              <% breeder_dogs.forEach(dog => { %>
              <li>
                  <a class="li_container" href="<%= dog.url %>">
                    <div class="circle"></div>
                    <p><%= dog.name %></p>
                  </a>
              </li>
              <% }) %> <% } else { %>
              <p>
                There are no dogs available from <%= breeder.name %>. Check again soon!
              </p>
              <% } %>
            </ul>
          </div>
          <div class="delete-update">
            <a href="<%= breeder.url + '/delete' %>">Delete Breeder</a>
            <a href="<%= breeder.url + '/update' %>">Update Breeder</a>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>