<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="wrapper">
      <%- include("./partials/nav.ejs") %>
      <div class="list">
        <h1><%= title %></h1>
        <div class="content">
          <ul class="list_container">
            <% if (location_list.length > 0) { %>
            <% location_list.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return(textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %>
            <% location_list.forEach(location => { %>
            <li>
              <div class="li_card">
                <a href="<%= location.url %>">
                  <img src="https://imgur.com/WWDiI4K.jpg" alt="Breeder Avatar Card">
                </a>
                <a href="<%= location.url %>">
                  <p><%= location.name %></p>
                </a>
                <p><%= location.speciality %></p>
                <p><%= location.established %></p>
              </div>
            </li>
            <% }) %> <% } else { %>
            <p>
              There are no locations available right now. Check again soon!
            </p>
            <% } %>
          </ul>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
